h2 {
    text-align: center;
    margin-top: 50px !important;
}

.produit {
    border: 1px solid black;
    width: 600px;
    height: 300px;
    margin: 0 auto;
    margin-top: 160px;
}

.images {
    border: 1px solid black;
}

.ours img {
    height: 300px;
    width: 300px;
}

.colorselect {
    border: 1px solid black;
}

.prix {
    border: 1px solid black;
}

footer {
    position: fixed;
}