h2 {
    text-align: center;
}

.produit {
    border: 1px solid black;
}

#listeproduits {
    border: 1px solid black;
}

.imageproduit {
    float: left;
}

.infosproduit {
    text-align: center;
}

.col-sm {
    border: 1px solid black;
}